{% extends 'base.html' %}
{% block title %}Fund Escrow (Prototype){% endblock %}
{% block content %}
<div class="form-card">
    <h2 class="h4 mb-2">Fund Escrow </h2>
    <p class="text-muted mb-3">
        Enter bank details to simulate payment.
    </p>

    

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-primary">Submit Bank Details &amp; Fund</button>
            <a href="{% url 'escrow-detail' escrow.pk %}" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
