{% extends 'base.html' %}
{% block title %}Post an Item{% endblock %}
{% block content %}
    <h1>Post an Item</h1>
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <p>
          {{ form.title.label_tag }}<br>
          {{ form.title }}
        </p>
        <p>
          {{ form.description.label_tag }}<br>
          {{ form.description }}
        </p>
        <p>
          {{ form.price.label_tag }}<br>
          {{ form.price }}
        </p>
        <p>
          {{ form.category.label_tag }}<br>
          {{ form.category }}
        </p>
        <p>
          {{ form.location.label_tag }}<br>
          {{ form.location }}
          <small>e.g., Nairobi, Mombasa, Kisumu…</small>
        </p>
        <p>
          {{ form.image.label_tag }}<br>
          {{ form.image }}
          <small class="form-text text-muted">Main image for your item (recommended)</small>
        </p>
        <p>
          {{ form.extra_images.label_tag }}<br>
          <input type="file" name="extra_images" id="id_extra_images" accept="image/*" multiple>
          <small class="form-text text-muted">{{ form.extra_images.help_text }}</small>
        </p>
        <button type="submit" class="btn btn-primary">Publish</button>
      </form>
    <p><a href="{% url 'home' %}">Cancel</a></p>
{% endblock %}
